.light {
  background-color: #dedede;
  padding: 6rem 2rem;
  color: #1a1a1a;
  overflow-x: hidden;
}
.title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 10rem;
  text-align: center;
  line-height: 10rem;
  margin: 0;
  padding-bottom: 1rem;
}
.hr_secondary {
  border: 0;
  border-top: thin solid #1a1a1a;
  margin-bottom: 4rem;
}
.text-m {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #1a1a1a;
  font-weight: 500;
  margin-top: 10rem;
}
.pink {
  color: #ff0076;
}
.services > h3 {
  text-transform: uppercase;
  font-size: 11rem;
  font-weight: 300;
  line-height: 10rem;
  margin: 0;
  margin-top: 9rem;
}
.services > h3 > span {
  text-decoration: line-through;
}
.skills-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.skills-div > div > ul{
    margin: 0;
    padding: 0;
}
.skills-div > div > ul > li {
  font-size: 4rem;
  list-style: none;
  font-weight: 300;
  line-height: 4rem;
}
.p {
  font-size: 2rem;
  line-height: 2rem;
  width: 60%;
  margin-bottom: 2rem;
  font-weight: 400;
  color: #1a1a1a;
}
.p2 {
  text-transform: uppercase;
}

.circle {
  animation-name: rotate;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.circleWidth{
  width: 320px;
}
.m-t{
    margin-top: 4rem !important;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
@media only screen and (max-width: 960px) {
  .title{
    font-size: 5rem;
    line-height: 5rem;
  }
  .services > h3 {
    font-size: 4rem;
    line-height: 4rem;
  }
  .skills-div {
    display: flex;
    flex-direction: column;
  }
  .circleWidth{
    width: 220px;
  }
}